@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  box-sizing: border-box;
  color: #1f2937;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
table {
  border-collapse: collapse;
  width: 70%;
}

tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(14, 14, 9, 0.2);
}

th {
    background-color: lightcyan;
    font-size: 22px;
}

tr td {
  border: 1px solid #eeeeee;
  text-align: left;
}

input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  background-color: #fff4e4;
}

input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

.overflow-x-auto {
  display: flex;
  flex-direction: column;
}
